@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "poppins-bold";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
}

.border-default {
  @apply border border-slate-300;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1; /* slate-300 */
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #94a3b8; /* slate-400 */
  }
}

.rdp-nav {
  position: absolute;
  width: 100%;
  justify-content: space-between;
}
.rdp-month_caption {
  display: flex !important;
  justify-content: center;
  font-size: 15px !important;
}

.rdp-weeks {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rdp-range_start .rdp-day_button,
.rdp-range_end .rdp-day_button {
  background: #f1f5f9 !important;
  color: black !important;
}
.rdp-range_middle {
  background: #f1f5f9 !important;
}
.rdp-weekdays {
  display: flex;
}

.rdp-weekday {
  flex-grow: 1;
}
.rdp-day_button {
  font-size: 14px !important;
}
.rdp-today:not(.rdp-outside) {
  color: black !important;
}
.rdp-disabled {
  text-decoration: line-through !important;
}
